$size-zero: 0px;
$size-main: 10px;
$size-width: 100;
$color-orange: #ff6a00;
$color-gradient: radial-gradient(#e5dc87, #97b676, #d17f44);
$color-red: #ff0000;
$color-blue: #228be3;
$position: center;
$position-left: left;
$font-main-slabo: 'Slabo 27px';
$font-main: Pacifico;
$font-main-text: Roboto Mono;
$font-main-pattaya: Pattaya;
$font-second: sans-serif;
$color-dark: black;
$color-gray: gray;

body {
    padding: $size-zero;
    margin: $size-zero;
    color: $color-dark;
}

.grid {
    display: grid;
}

header.grid {
    min-height: $size-width+vh;
    background-size: cover;
    background-image: url('../img_origin/header.jpg');
    position: relative;
    background-position: $position;
    align-content: $position;
    align-items: $position;

    &::before {
        content: "";
        background-color: $color-gray;
        top: $size-zero;
        bottom: $size-zero;
        left: $size-zero;
        right: $size-zero;
        opacity: 0.15;
        position: absolute;
    }
}

.header-bar {
    background-color: $color-dark;
    grid-template-columns: repeat(3,1fr);
    min-height: $size-width/5+vh;
    background-size: cover;
    background-position: $position;
    text-align: $position;
    font-size: $size-main*2;
    color: lighten($color-dark, 100);
    position: relative;
    transition: all 0.75s ease;
    cursor: pointer;
    font-family: $font-second;
    padding: $size-main;

    &:hover {
        color: darken($color-orange, 0.2);

        &::before {
            opacity: 0.5;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: $size-zero;
        left: $size-zero;
        right: $size-zero;
        bottom: $size-zero;
        background-image: $color-gradient;
        opacity: 0.4;
        transition: opacity 1s ease;
    }
}

.header-bar-center {
    font-size: $size-main*3;
    font-family: $font-main-slabo;
    text-align: center;
    position: relative;
}

.header-bar-right {
    text-align: center;
    position: relative;
    padding-top: $size-main*3;
}

li {
    list-style-type: none;
}

.header-bar-left {
    position: relative;
    text-align: $position;
    padding-top: $size-main*4;
}

.header-container {
    z-index: 1;
    text-align: $position;
    padding: $size-main*5 $size-main*2;
}

@import "buttons";
@import "section-about";
@import "section-form";
//footer//
.main-footer {
    padding: $size-main*3 $size-zero $size-main*3 $size-zero;
    background-color: darken($color-gray, 20);
    text-align: $position;
    color: lighten($color-dark, 65);
    font-family: $font-main-text;
}

.footer {
    &-logo span {
        font-size: $size-main*2.8;
        letter-spacing: $size-main/5;
        line-height: 1.5;
        display: block;

        span {
            font-size: $size-main*2;
            letter-spacing: $size-main/10;
        }
    }
}
/*//Media queries//
@media screen and (min-width:993px) {
    .form-section {
        form {
            padding: $size-zero;

            div {
                input {
                    width: $size-width + %;
                    padding: $size-main*3 $size-zero;
                    font-size: $size-main*1.8;
                    text-indent: $size-main;
                }

                &:last-of-type {
                    text-align: center;

                    .btn {
                        width: $size-width+%;
                        margin: $size-zero;
                        padding: $size-main*2.2;
                        font-size: $size-main*3;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:992px) {

    header.grid .header {
        &-container h1 {
            font-size: $size-main*15;
        }

        &-btns {
            text-align: center;

            .btn {
                display: block;
                margin: $size-main*5 auto;
                padding: $size-main*3 $size-main*20;
                font-size: $size-main*4;
                font-weight: bold;
            }
        }
    }

    .section-ready .container {
        grid-template-columns: 1fr;

        > div {
            padding: 3%;
        }
    }

    div.ready-left {
        border: $size-zero;

        h2 {
            text-align: $position;
            font-size: $size-main*4;
            margin-bottom: $size-main;
        }

        p {
            text-align: justify;
            font-size: $size-main*3;
        }
    }

    .img-responsive {
        width: $size-width/1.6+%;
        margin: $size-zero auto;
    }

    .ready-right {
        padding: $size-width/3+% $size-width/20+%;
    }

    .form-section {
        form {
            grid-template-columns: 1fr;
            grid-gap: $size-main*3;

            div {
                input {
                    width: $size-width + %;
                    padding: $size-main*3 $size-zero;
                    font-size: $size-main*3;
                    text-indent: $size-main*2;
                }

                &:last-of-type {
                    text-align: center;

                    .btn {
                        margin: $size-zero;
                        font-size: $size-main*4;
                        width: $size-width/2+%;
                    }
                }
            }
        }
    }

    .portfolio {
        &-section {
            grid-template-columns: repeat(2, 1fr);
        }

        &-item {
            min-height: $size-width/3.33+vh;
            font-size: $size-main*5;

            &:nth {
                &-child(1) {
                    grid-column: 1;
                }

                &-child(4) {
                    grid-column: 2;
                }

                &-child(5) {
                    grid-column: 1;
                    grid-row: 3;
                }

                &-child(8) {
                    grid-column: 2;
                    grid-row: 4;
                }
            }
        }
    }

    .section-blog .container h1 {
        font-size: 4em;
    }

    .blog {
        &-home {
            grid-template-columns: repeat(2, 1fr);

            .btncase {
                grid-column: 1/3;

                a {
                    margin: $size-main*3;
                    font-size: $size-main*4;
                    width: $size-width/2+%;
                }
            }
        }

        &-item:nth {
            &-child(3) {
                grid-column: 1/3;
                grid-row: 2;
            }

            &-child(4) {
                grid-column: 1/3;
                grid-row: 3;
            }

            &-child(5) {
                grid-column: 1;
                grid-row: 4;
            }

            &-child(6) {
                grid-column: 2;
                grid-row: 4;
            }
        }

        &-item {
            grid-template-rows: none;

            &-content {
                height: $size-main*8;

                h4 {
                    font-size: $size-main*4;
                }

                p {
                    display: none;
                }
            }
        }

        &-item-content {
            padding: $size-main;
            margin: $size-main;
        }
    }

    .frame {
        height: $size-width*4+px;
    }

    .footer {
        &-copy img {
            width: $size-main*8;
            height: $size-main*8;
            margin: 3em 4em;
        }

        &-logo span {
            font-size: $size-main*10;

            span {
                font-size: $size-main*5;
            }
        }
    }
}

@media screen and (max-width:768px) {

    header.grid .header {
        &-container h1 {
            font-size: $size-main*7;
        }

        &-btns .btn {
            padding: $size-main $size-main*12;
            font-size: $size-main*2.5;
        }
    }

    div.ready-left {

        h2 {
            font-size: $size-main*4;
        }

        p {
            font-size: $size-main*2.5;
        }
    }

    .form-section {
        form {
            div {
                input {
                    font-size: $size-main*2;
                    text-indent: $size-main;
                }

                &:last-of-type {
                    .btn {
                        font-size: $size-main*2.5;
                    }
                }
            }
        }
    }

    .portfolio {
        &-section {
            grid-template-columns: 1fr;
        }

        &-item:nth {

            &-child(1) {
                grid-column: 1;
            }

            &-child(4) {
                grid-column: 1;
            }

            &-child(5) {
                grid-column: 1;
                grid-row: 5;
            }

            &-child(8) {
                grid-column: 1;
                grid-row: 8;
            }
        }
    }

    .section-blog .container h1 {
        font-size: 2.5em;
    }

    .blog {
        &-home {
            grid-template-columns: 1fr;

            .btncase {
                grid-column: 1/2;
            }
        }

        &-item:nth {
            &-child(1) {
                grid-column: 1;
                grid-row: 1;
            }

            &-child(2) {
                grid-column: 1;
                grid-row: 2;
            }

            &-child(3) {
                grid-column: 1;
                grid-row: 3;
            }

            &-child(4) {
                grid-column: 1;
                grid-row: 4;
            }

            &-child(5) {
                grid-column: 1;
                grid-row: 5;
            }

            &-child(6) {
                grid-column: 1;
                grid-row: 6;
            }
        }

        &-item {

            &-content {
                height: $size-main*4;
            }
        }
    }

    .frame {
        height: $size-width*2.5+px;
    }

    .footer {
        &-copy img {
            width: $size-main*5;
            height: $size-main*5;
            margin: 2em 2em;
        }

        &-logo span {
            font-size: $size-main*6;

            span {
                font-size: $size-main*4;
            }
        }
    }
}

@media screen and (max-width:480px) {
    header.grid .header {
        &-container h1 {
            font-size: $size-main*4;
        }

        &-btns .btn {
            padding: $size-main $size-main*4;
            font-size: $size-main*2;
        }
    }

    div.ready-left {

        h2 {
            font-size: $size-main*3;
        }

        p {
            display: none;
        }
    }

    div.ready-right {
        img {
            width: $size-width/0.5+%;
        }
    }

    .form-section {
        form {
            div {
                input {
                    font-size: $size-main*2;
                    text-indent: $size-main;
                }

                &:last-of-type {
                    .btn {
                        font-size: $size-main*2.5;
                        width: $size-width+%;
                    }
                }
            }
        }
    }

    .portfolio {

        &-item span {
            font-size: $size-main*3.5;
        }
    }

    .section-blog .container h1 {
        font-size: 1.25em;
    }

    .blog {
        &-img {
            .btncase {
                padding: $size-zero;

                a {
                    font-size: $size-main*3;
                }
            }
        }

        &-text {
            &-content {
                height: $size-main;

                h4 {
                    font-size: $size-main*2;
                }
            }
        }
    }

    .footer {
        &-copy img {
            width: $size-main*4;
            height: $size-main*4;
            margin: 1em 1em;
        }

        &-logo span {
            font-size: $size-main*5;

            span {
                font-size: $size-main*3.5;
            }
        }
    }
}*/
